In [7]:
import json
import pathlib

path = sorted(pathlib.Path("../logs/spider_eval").glob("train_results_*.jsonl"))[-1]
print("Reading:", path)

records = [json.loads(line) for line in path.read_text(encoding="utf-8").splitlines()]
print(f"{len(records)} examples loaded")

for r in records:
    print("────")
    print("DB:", r["db_id"])
    print("Q :", r["question"])
    print("SQL (pred):", r["pred_sql"])
    print("Status:", r["status"])

Reading: logs/spider_eval/train_results_1760375755.jsonl
20 examples loaded
────
DB: department_management
Q : How many heads of the departments are older than 56 ?
SQL (pred): SELECT COUNT(*) FROM head WHERE age > 56
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : List the name, born state and age of the heads of departments ordered by age.
SQL (pred): SELECT h.name, h.born_state, h.age FROM head h JOIN management m ON h.head_ID = m.head_ID ORDER BY h.age
Status: Returned 5 row(s). Showing up to 50.
────
DB: department_management
Q : List the creation year, name and budget of each department.
SQL (pred): SELECT Creation, Name, Budget_in_Billions FROM department;
Status: Returned 15 row(s). Showing up to 50.
────
DB: department_management
Q : What are the maximum and minimum budget of the departments?
SQL (pred): SELECT MAX(Budget_in_Billions) AS Max_Budget, MIN(Budget_in_Billions) AS Min_Budget FROM department
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : What is the average number of employees of the departments whose rank is between 10 and 15?
SQL (pred): SELECT AVG(Num_Employees) AS average_num_employees FROM department WHERE Ranking BETWEEN 10 AND 15;
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : What are the names of the heads who are born outside the California state?
SQL (pred): SELECT name FROM head WHERE born_state <> 'California';
Status: Returned 6 row(s). Showing up to 50.
────
DB: department_management
Q : What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?
SQL (pred): SELECT DISTINCT d.Creation FROM department d JOIN management m ON d.Department_ID = m.department_ID JOIN head h ON m.head_ID = h.head_ID WHERE h.born_state = 'Alabama'
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : What are the names of the states where at least 3 heads were born?
SQL (pred): SELECT born_state FROM head GROUP BY born_state HAVING COUNT(head_ID) >= 3
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : In which year were most departments established?
SQL (pred): SELECT strftime('%Y', Creation) AS Year, COUNT(*) AS DepartmentCount FROM department GROUP BY Year ORDER BY DepartmentCount DESC LIMIT 1;
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?
SQL (pred): SELECT d.Name, d.Num_Employees FROM department d JOIN management m ON d.Department_ID = m.department_ID WHERE m.temporary_acting = 'Yes'
Status: Returned 3 row(s). Showing up to 50.
────
DB: department_management
Q : How many acting statuses are there?
SQL (pred): SELECT COUNT(DISTINCT temporary_acting) AS acting_status_count FROM management;
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : How many departments are led by heads who are not mentioned?
SQL (pred): SELECT COUNT(*) FROM department d LEFT JOIN management m ON d.Department_ID = m.department_ID WHERE m.head_ID IS NULL;
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : What are the distinct ages of the heads who are acting?
SQL (pred): SELECT DISTINCT h.age FROM head h JOIN management m ON h.head_ID = m.head_ID WHERE m.temporary_acting = 'Yes';
Status: Returned 3 row(s). Showing up to 50.
────
DB: department_management
Q : List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born.
SQL (pred): SELECT DISTINCT h1.born_state FROM management m1 JOIN head h1 ON m1.head_ID = h1.head_ID JOIN department d1 ON m1.department_ID = d1.Department_ID WHERE d1.Name = 'Treasury' AND h1.born_state IN (SELECT h2.born_state FROM management m2 JOIN head h2 ON m2.head_ID = h2.head_ID JOIN department d2 ON m2.department_ID = d2.Department_ID WHERE d2.Name = 'Homeland Security')
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : Which department has more than 1 head at a time? List the id, name and the number of heads.
SQL (pred): SELECT d.Department_ID, d.Name, COUNT(m.head_ID) AS Number_of_Heads FROM department d JOIN management m ON d.Department_ID = m.department_ID GROUP BY d.Department_ID, d.Name HAVING COUNT(m.head_ID) > 1
Status: Returned 1 row(s). Showing up to 50.
────
DB: department_management
Q : Which head's name has the substring 'Ha'? List the id and name.
SQL (pred): SELECT h.head_ID, h.name FROM head h JOIN management m ON h.head_ID = m.head_ID WHERE h.name LIKE '%Ha%'
Status: Returned 2 row(s). Showing up to 50.
────
DB: farm
Q : How many farms are there?
SQL (pred):
Status: Error: Error code: 403 - {'error': {'message': 'token quota is not enough, token remain quota: ＄0.000008, need quota: ＄0.000114 (request id: 20251013204552914852769LyjH3RSk)', 'type': 'new_api_error', 'param': '', 'code': 'pre_consume_token_quota_failed'}}
────
DB: farm
Q : Count the number of farms.
SQL (pred):
Status: Error: Error code: 403 - {'error': {'message': 'token quota is not enough, token remain quota: ＄0.000008, need quota: ＄0.000114 (request id: 20251013204553544953937LKDeBltm)', 'type': 'new_api_error', 'param': '', 'code': 'pre_consume_token_quota_failed'}}
────
DB: farm
Q : List the total number of horses on farms in ascending order.
SQL (pred):
Status: Error: Error code: 403 - {'error': {'message': 'token quota is not enough, token remain quota: ＄0.000008, need quota: ＄0.000114 (request id: 20251013204554156810277QpyTydIp)', 'type': 'new_api_error', 'param': '', 'code': 'pre_consume_token_quota_failed'}}
────
DB: farm
Q : What is the total horses record for each farm, sorted ascending?
SQL (pred):
Status: Error: Error code: 403 - {'error': {'message': 'token quota is not enough, token remain quota: ＄0.000008, need quota: ＄0.000116 (request id: 202510132045548459300909IPAkckU)', 'type': 'new_api_error', 'param': '', 'code': 'pre_consume_token_quota_failed'}}

In [8]:
records[0]

{'db_id': 'department_management',
 'question': 'How many heads of the departments are older than 56 ?',
 'gold_sql': 'SELECT count(*) FROM head WHERE age  >  56',
 'pred_sql': 'SELECT COUNT(*) FROM head WHERE age > 56',
 'status': 'Returned 1 row(s). Showing up to 50.',
 'output': '[\n  {\n    "COUNT(*)": 5\n  }\n]'}

In [9]:
import pandas as pd
import json
import pathlib

path = sorted(pathlib.Path("../logs/spider_eval").glob("train_results_*.jsonl"))[-1]
df = pd.read_json(path, lines=True)

In [10]:
len(df[df["status"].str.startswith("Returned")]) / len(df)

0.8